{% extends "base.html" %}
{% if category %}
{% set page = category|title %}
{% endif %}

{% block products_breadcrumb %}
    {% include("parts/products_breadcrumb.html") %}
{% endblock %}
{% block right_banner %}
    <div class="w3l_banner_nav_right">
		{% if category_banner %}
		    {% include("parts/" + category_banner + ".html") %}
		{% else %}
			<div class="w3l_banner_nav_right_banner3">
				<h3>Best Deals For New Products<span class="blink_me"></span></h3>
			</div>
		{% endif %}
		<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
			{% if category %}
			<h3 class="w3l_fruit">{{ page }}</h3>
			{% endif %}
            <div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
			{% if products != [] %}
				{% for product in products %}
				{% set no_index = loop.index  %}
					<div class="col-md-3 w3ls_w3l_banner_left {% if no_index==1 %}w3ls_w3l_banner_left_asdfdfd{% elif no_index % 3 == 0 %}w3ls_w3l_banner_left_asd{% endif %}">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							{% if product.sale is not none and product.sale|int > 0 %}
							<div class="agile_top_brand_left_grid_pos">
								<img src="{{ url_for('static', filename = 'images/offer.png') }}" alt=" " class="img-responsive" />
							</div>
							{% endif %}
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{ url_for('products.product_detail', id=product.id) }}"><img src="{{ url_for('static', filename = 'products/' + product.slug + '.jpg') }}" alt=" " class="img-responsive" /></a>
											<p>{{ product.name }}</p>
											{% if product.sale is not none and product.sale|int > 0 %}
											<h4>${{ (product.price - (product.price*product.sale)/100)|round(2) }} <span>${{ product.price }}</span></h4>
											{% else %}
											<h4>${{ product.price }}</h4>
											{% endif %}
										</div>
										<div class="snipcart-details">
											<form action="{{ url_for('order.create_order') }}" method="post">
												<fieldset>
													<input type="hidden" name="product_name" value="{{ product.name }}" />
													<input type="hidden" name="product_id" value="{{ product.id }}" />
													<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					{% if no_index == products|length %}
						<div class="clearfix"></div>
						</div>
					{% endif %}
					{% if no_index % 4 == 0 %}
						<div class="clearfix"></div>
						</div>
						{% if no_index != products|length %}
						<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
        </div>
	</div>
{% endblock %}
{% block content %}

{% endblock %}