{% extends "base.html" %}
{% set page = 'Checkout' %}

{% block products_breadcrumb %}
    {% include("parts/products_breadcrumb.html") %}
{% endblock %}
{% block right_banner %}
    <div class="w3l_banner_nav_right">
    {% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
            <strong>Success!</strong> {{success[0]}}
        </div>
    {% endif %}
    {% endwith %}
		<div class="privacy about">
			<h3>Chec<span>kout</span></h3>

	      <div class="checkout-right">
					<h4>Your shopping cart contains: <span>{{ orders|length }} Products</span></h4>
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>SL No.</th>
							<th>Product</th>
							<th>Quality</th>
							<th>Product Name</th>

							<th>Price</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
                    {% for order in orders %}
                    {% set no_index = loop.index  %}
                    <tr class="rem1">
						<td class="invert">{{no_index}}</td>
						<td class="invert-image"><a href="single.html"><img src="{{ url_for('static', filename='products/' + order.product.slug + '.jpg') }}?time={{get_time}}" alt=" " class="img-responsive"></a></td>
						<td class="invert">
							 <div class="quantity">
								<div class="quantity-select">
									<div data-id="{{ order.id }}" class="entry value-minus">&nbsp;</div>
									<div class="entry value"><span id="quantity-{{ order.id }}">{{ order.quantity }}</span></div>
									<div data-id="{{ order.id }}" class="entry value-plus active">&nbsp;</div>
								</div>
							</div>
						</td>
						<td class="invert">{{ order.product.name }}</td>

						<td class="invert invert-price" id="price-{{ order.id }}">{{ order.price*order.quantity }}</td>
						<td class="invert">
							<div class="remove">
								<div class="btn-delete-order" id="delete-{{ order.id }}" data-toggle="modal" data-target="#delete-product" data-id="{{url_for('order.delete', id=order.id)}}"> </div>
                                <div class="save-change" id="change-{{ order.id }}" data-toggle="modal" data-target="#save-change-product" data-id="{{url_for('order.save_change', id=order.id)}}" data-value="{{ order.quantity }}"><span>Save</span></div>
							</div>
						</td>
					</tr>
                    {% endfor %}

				</tbody></table>
			</div>
			<div class="checkout-left">
				<div class="col-md-4 checkout-left-basket">
					<h4>Continue to basket</h4>
					<ul>
                        {% for order in orders %}
                        {% set no_index = loop.index  %}
						<li>{{order.product.name|title}} <i>-</i> <span>${{order.price*order.quantity}} </span></li>
                        {% endfor %}
                        <li>Total <i>-</i> <span>${{ calculate_total_payment() }}</span></li>
					</ul>
				</div>
				<div class="col-md-8 address_form_agile">
					  <h4>Add a new Details</h4>
				<form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
									<section class="creditly-wrapper wthree, w3_agileits_wrapper">
										<div class="information-wrapper">
											<div class="first-row form-group">
												<div class="controls">
													<label class="control-label">Full name: </label>
													<input class="billing-address-name form-control" type="text" name="name" placeholder="Nguyen Phu Tu">
												</div>
												<div class="controls">
													<label class="control-label">Mobile number: </label>
												 <input class="form-control" type="text" placeholder="01682617464">
												</div>
												<div class="controls">
													<label class="control-label">Town/City: </label>
												 <input class="form-control" type="text" placeholder="Ha Noi">
												</div>
                                                <div class="controls">
													<label class="control-label">District: </label>
												 <input class="form-control" type="text" placeholder="Gia Lam">
												</div>
                                                <div class="controls">
													<label class="control-label">Ward: </label>
												 <input class="form-control" type="text" placeholder="Thi Tran Trau Quy">
												</div>
                                                <div class="controls">
                                                    <label class="control-label">Address: </label>
                                                    <!--<select class="form-control option-w3ls">-->
                                                        <!--<option>Office</option>-->
                                                        <!--<option>Home</option>-->
                                                        <!--<option>Commercial</option>-->
                                                    <!--</select>-->
                                                    <input class="form-control" type="text" placeholder="52 dao nguyen A">
                                                </div>
											</div>
											<button class="submit check_out">Delivery to this Address</button>
										</div>
									</section>
								</form>
									<div class="checkout-right-basket">
				        	<a href="{{ url_for('products.payment') }}">Make a Payment <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
			      	</div>
					</div>

				<div class="clearfix"> </div>

			</div>

		</div>
<!-- //about -->
    </div>

<!--delete modal-->
<div class="modal fade" id="delete-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ready to Delete?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Delete" below if you are ready to delete this product.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" style="float: left;" type="button" data-dismiss="modal">Cancel</button>
        <form id="delete-user-form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--save-change-product modal-->
<div class="modal fade" id="save-change-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ready to Save?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Save" below if you are ready to save change this product.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" style="float: left;" type="button" data-dismiss="modal">Cancel</button>
        <form id="update-product" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="quality"/>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block end_scripts %}
<script type='text/javascript' src="{{ url_for('static', filename = 'js/order.js') }}"></script>
{% endblock end_scripts %}