{% extends "admin_base.html" %}
{% if category %}
    {% set page = 'Products/' + category %}
{% else %}
    {% set page = 'Products' %}
{% endif %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Products</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Sale</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                {% set no_index = loop.index  %}
                <tr class="rem">
                    <td class="invert">{{ no_index }}</td>
                    <td class="invert-image"><a href="single.html"><img src="/static/images/1.png" alt=" " class="img-responsive"></a></td>
                    <td class="invert">{{ product.quantity }}</td>

                    <td class="invert">{{ product.name }}</td>
                    <td class="invert">{{ product.price }}</td>
                    <td class="invert">{{ product.sale }}</td>
                    <td class="invert">
                      <a class="fa-icon">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a class="fa-icon">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Sale</th>
                        <th>Remove</th>
                    </tr>
                </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
{% endblock %}