{% extends "admin_base.html" %}
{% set page = 'Accounts' %}
{% set role = {'0': 'User', '1': 'Manage', '2': 'Admin'} %}
{% set status = {'0': 'Inactive', '1': 'Active', '2': 'Never-login'} %}

{% block content %}
<!-- Example DataTables Card-->
  <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Users</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
              </thead>
              <tbody>
              {% for account in accounts %}
              {% set no_index = loop.index  %}
              <tr class="rem">
                  <td class="invert">{{ no_index }}</td>
                  <td class="invert">{{ account.first_name + ' ' + account.last_name }}</td>
                  <td class="invert">{{ account.email }}</td>

                  <td class="invert"><span class="{{ 'label ' +  role[account.role] }}">{{ role[account.role] }}</span></td>
                  <td class="invert"><span class="{{ 'label ' +  status[account.status] }}">{{ status[account.status] }}</span></td>
                  <td class="invert" data-toggle="modal" data-target="#delete-modal">
                      <a class="fa-icon">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a class="fa-icon">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                    <th>SL No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
{% endblock %}