{% extends "base.html" %}
{% set page = 'Sign In & Sign Up' %}

{% block products_breadcrumb %}
    {% include("parts/products_breadcrumb.html") %}
{% endblock %}
{% block right_banner %}
    <div class="w3l_banner_nav_right">
<!-- login -->
		<div class="w3_login">
			<h3>Sign In & Sign Up</h3>
			<div class="w3_login_module">
				<div class="module form-module">
				  <div class="form">
					<h2>Login to your account</h2>
					<form action="{{ url_for('auth.login') }}" method="post">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
					  <input type="email" name="email" placeholder="Email" required=" ">
					  <input type="password" name="password" placeholder="Password" required=" ">
                      {% if error is not none %}
                        <p class="error-message">{{ error }}</p>
                      {% endif %}
					  <input type="submit" value="Login">
					</form>
				  </div>
				  <div class="cta"><a href="#">Forgot your password?</a></div>
				</div>
            </div>
        </div>
<!-- //login -->
    </div>
{% endblock %}
{% block content %}

{% endblock %}